* {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f8f9fa;
  color: #01220f;
}

header {
  background: #2c3e50;
  color: white;
  padding: 2rem;
  text-align: center;
}

header nav a {
  margin: 0 10px;
  color: #f1c40f;
  text-decoration: none;
  font-weight: bold;
}

section {
  padding: 2rem;
}

h2 {
  color: #2c3e50;
}

ul {
  list-style: none;
  padding: 0;
}

.project {
  background: #fff;
  padding: 1rem;
  margin-bottom: 1rem;
  border-left: 4px solid #2ecc71;
}

footer {
  background: #2c3e50;
  color: white;
  text-align: center;
  padding: 1rem;
}
.body{
  background-color: #fff;
  background-image: url("./assets/img6.png") ;
}